<form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  class="example-form" style="margin-top: 30px; margin-left: 30px;">
    <h1>Login</h1>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl"placeholder="Ex. pat@example.com">
      @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
        <mat-error>Inserire un formato email valido</mat-error>
      }
      @if (emailFormControl.hasError('required')) {
        <mat-error>Email è <strong>richiesta</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field class="example-full-width" style="margin-left: 20px;">
      <mat-label>Password</mat-label>
      <input type="password" matInput [formControl]="passwordFormControl" placeholder="">
      <ng-container *ngIf="passwordFormControl.hasError('required')">
        
      </ng-container>
      <mat-error>Password è <strong>richiesta</strong></mat-error>
      <ng-container *ngIf="passwordFormControl.hasError('minlength')">
        <mat-error>Password deve essere lunga almeno 7 caratteri</mat-error>
      </ng-container>
      <ng-container *ngIf="passwordFormControl.hasError('pattern')">
        <mat-error>Password deve contenere almeno un carattere speciale</mat-error>
      </ng-container>
    </mat-form-field>
    <div *ngIf="loginError" class="error-message">
        {{ loginError }}
      </div>
    <button mat-button color="primary" style="font-size: large; margin-left: 20px;" [disabled]="!loginForm.valid">Login</button><br>
    <p>Non se registrato? <a href="register">Clicca qui</a></p>
  </form>
  
  